@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton{
    @include m.boton(v.$azul, v.$blanco);
}

.r-boton{
    margin-top: v.$separacion + 2rem;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 1rem;
}